body{
background: #42befc;
}
.App{
    /* background-image: url("../public/img/background.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(29, 29, 29, 0.5);
    background-blend-mode: overlay;   */
}